.h-screen{
    min-height: initial;
    height: initial;
}
.m-25{
    margin-bottom: 25px;
}
.mt-45{
    margin-top: 45px;
}
.fw-500{
    font-weight: 500;
}
.color-text{
    color: #333333;
}
.border-b {
    height: 80px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
    display: flex;

}
/*HEADER*/

.site-logo a>div{
    width: 65px;
}
.border-b .max-w-7xl{

    max-width: 100%;
    min-width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-b .justify-between{
    align-items: center;
    width: 100%;
}
header.shadow {
    box-shadow: 0px 0px 10px rgb(0 0 0 / 2%);
    border-radius: 5px;
    margin-top: 35px;
}
header.shadow  span{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px;
}

header.shadow i{
    font-size: 18px;
}
footer{
    padding: 20px 20px;
}

.min-h-screen{
    background-color: #f7f7f7;
}
.container-ask{
    max-width: 100%;
    border: none;
    box-shadow: none;
    padding: 40px;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom:90px;
}
.primary-color{
    color:#195b81;
}
.title-ask-container{
    font-weight: 900;
    font-size: 20px;
}
.form-container-ask input, .form-container-ask select, .form-container-ask textarea{
    border:1px solid #e4eaf1;
    font-size: 15px;
     height: 50px;
     outline: none;
     border-radius: 5px;
     
}

.form-container-ask textarea{
    min-height: 120px;
    resize: none;
}
.form-container-ask input:focus, .form-container-ask select:focus{
  border-color:none;
  outline: none;
}

.form-container-ask input[type='text']::placeholder, .form-container-ask select,.form-container-ask textarea::placeholder{

    text-indent: 10px;
    color:#7a7a7a !important;
}
.form-container-ask input::placeholder, .form-container-ask select option{

    color:#333333;
}
 .form-container-ask select {
cursor: pointer;

}
.form-container-ask label{
    color:#333333;
    font-size: 15px;
    font-weight: 600;
}
.form-container-ask > div{
    padding-bottom: 25px;
    margin-bottom: 0px;
}
.boton-success-m{
    background-color: #157b80;
    padding: 10px 35px;
    font-size: 16px;
    box-shadow: none;
    border: none;
    outline: none;
    transition: .3s all ease-in;
  
      
}
.button-c2.boton-success-m{
    background-color: #195b81;
    color: #ffffff;
}
.button-c3.boton-success-m{
    background-color: #5b8080;
    color: #ffffff;
}
.boton-success-m:hover{
    background-color: #0e565a ; 
    
}

.no-bottom.flex{
   padding-bottom: 0px;
}

hr {
    border-color: #e4eaf1;
    max-width: 100%;
    padding: 0 50px;
    margin-bottom: 30px;}

    table > thead > tr:nth-child(1) {
        background-color: transparent;
        height: 50px;
        border-bottom: 1px solid #f7f7f7;
    }
    table > thead:nth-child(1){
        background-color:transparent;
    }
    table {
       border: none;
    }

    .form-table{
        margin-bottom: 30px;
        margin-top: 30px;
        gap: 30px;
    }
    .form-table input, .form-table select{
        background-color: #f7f7f7;
        border: none;
    }
    .button-add, .upload-button{
        background-color: #157b80;
        padding: 0px; 
        height: 40px;
        width: 40px; 
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .upload-button{
        background-color: #195b81;
    }
    .upload-button:hover{
        background-color: #0e4564;
    }
    table .border-b {
        display: table-row;
        box-shadow: none;
        border-color: #f2f2f7;
    }

   
    table > thead > tr:nth-child(1) th{
        color:#7a7a7a;
        font-size: 15px;
    font-weight: 600;
    text-transform: initial;
    
    }
    .button-edit a{
background-color:#157b80;
height: 40px;
width: 40px;
    }
    .button-edit a:hover,.button-add:hover {
        background-color:#0e565a;
            }
    .button-edit a img {
        width: 16px;
    }

    table tbody .border-b td,table tbody  td{
        color: #333333;
    }
    table tbody  td {
        height: 80px;

    }
    table tbody tr{
        border-color: #f2f2f7 !important;
    }

 .pagination-table{
    padding-top: 25px;
 }   

 .pagination-table button, .pagination-table span {
    background-color: transparent;
    border: none;
    padding: 7px;


}
.pagination-table [aria-current="page"]{
    background-color: #157b80;
    border-radius: 5px;
}
.pagination-table [aria-current="page"] span{
  color: #ffffff;
}
.pagination-table button{
    background-color: #f7f7f7;
    border-radius: 5px;
    transition: .2s all ease-in;
}
.pagination-table button:hover{
    background-color: #157b80;
    color: #ffffff;
   
}

/* form Preguntas */
.form-ct label ,.form-uni label{
    margin-bottom: 10px;
}
.form-ct div ,.form-uni div{
    margin-bottom: 25px;
}
.form-ct select{
    min-height: max-content;
    overflow: hidden;
}

.checkbox-form, [type="radio"] {
    width: 30px;
    height: 30px !important;
    border-radius: 5px !important;
    cursor: pointer;
}
[type='checkbox']:checked, [type='radio']:checked {
    border-color: transparent;
    background-color: rgb(25 91 129);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.group-3{
    display: flex;
    gap:20px;
}
.group-3 .mb-2{
    width: 100%;
}

.delete-image{
    width: 35px;
    height: 35px;
}

/*Menu active*/
nav .text-gray-900 {
    border-color: rgb(25 91 129);
    --tw-text-opacity: 1;
    color: rgb(25 91 129);
    font-weight: 600;
}

/*EXAMENES*/

.areas-buttons button{
    background-color:#f7f7f7;
    border-radius: 5px;
    padding: 15px 25px;
    height: max-content;
    transition: .3s all ease-in;
    color:#333333;
    font-weight: 500;
    font-size: 15px;
}
.areas-buttons button:hover{
    background-color:rgb(25 91 129);
    color: #ffffffff;
}
.areas-buttons {
    
    margin-bottom: 22px;
}
.areas-buttons button.border-b-2{
    background-color:rgb(25 91 129);
    border-radius: 5px; 
        color: #ffffffff;
        border: none;
    }
    .areas-buttons .border-b{
         height:initial; 
         box-shadow:none;
         gap: 20px;
         display: flex;
         border: none;
    }

.cat-2.areas-buttons button.border-b-2{
    background-color:#157b80;
    transition: .3s all ease-in;
   
} 
.cat-2.areas-buttons button:hover{
    background-color:#157b80;
   
} 
.cat-3.areas-buttons button.border-b-2{
    background-color:#5b8080;
    transition: .3s all ease-in;
   
} 
.cat-3.areas-buttons button:hover{
    background-color:#5b8080;
   
} 

.mb-4 .form-container-ask{
    margin-bottom: 25px;
}
.mb-4 .form-container-ask .text-sm{
    color: #333333;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}

.form-container-ask .placeholder-former{

    text-indent: 10px;
    color:#7a7a7a ;
}
.list-exams span{
    font-size: 16px;
    color: #333333;
    font-weight: 500;
}
.list-exams {
    text-decoration: none;
    gap: 10px;
    background: #f7f7f7;
    display: flex;
    padding: 10px 25px;
    border-radius: 10px;
    width: fit-content;
}
.resumen-s{
font-size: 16px;
}

/*TABLA USUARIOS */
.table-users thead{
    width: 100%;
    display: contents;
}

/* EXAMENES */
.container-exmans.container-ask{
    padding: 0px;
}

.header-examns{
    background-color: 5b8080;
    padding: 30px;
}
.container-exmans .tarjeta-box{
    padding: 40px;
}
.number-question{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5b8080;
}